{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}

<div class="template-container">
{#    <div class="BYyR7e snByac" aria-hidden="true">Краткий ответ</div>#}
    <br>
    <div class="JGptt"><input type="text" class="Hvn9fb zHQkBf" jsname="YPqjbf" autocomplete="off" tabindex="0"
                              disabled="" placeholder="Краткий ответ" dir="auto" data-initial-dir="auto">
    </div>
</div>

{##}
{#</body>#}
{#</html>#}