{% extends "base.html" %}

{% block content %}

    <div class="td-sites-uppanel">
        <div class="td-sites-uppanel__wrapper">
            <div class="td-sites-uppanel__title">Мои формы:</div>
            <div class="td-sites-uppanel__rightside">
                <div class="td-sites-uppanel__righttable">
                    <div class="td-sites-uppanel__righttabletd" style="opacity:0.5;">
                        <table class="td-sites-uppanel__rightbtn-table"
                               onclick="location.href='{% url 'trash' %}';">
                            <tbody>
                            <tr>
                                <td><img src="https://front.tildacdn.com/ccdashboard/img/td-icon-del-black.svg"
                                         width="14px"
                                         class="td-sites-uppanel__rightbtn-plus" style="background-color:#fff;">
                                </td>
                                <td>
                                    <div class="td-sites-uppanel__rightbtn-title">Корзина (1)</div>
                                </td>
                                <td style="width:30px;"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="td-sites-uppanel__righttabletd">
                        <table class="td-sites-uppanel__rightbtn-table">
                            <tbody>
                            <tr>
                                <td>
                                    <svg width="15px" class="td-sites-uppanel__rightbtn-plus"
                                         style="display:block; width:15px;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                        <g>
                                            <polygon style="fill:#fff;" points="26.79 13 17 13 17 3.21 13 3.21 13 13 3.21 13 3.21 17 13 17 13 26.79 17 26.79 17 17 26.79 17 26.79 13"></polygon>
                                        </g>
                                    </svg>
                                </td>
                                <td>
                                    <div id="add-test-button" class="td-sites-uppanel__rightbtn-title">Создать новую форму</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="td-sites-uppanel__righttabletd" style="padding-left:20px; opacity:0.5;">
                        <table class="td-sites-uppanel__rightbtn-table">
                            <tbody>
                            <tr>
                                <td>
                                    <svg width="15px" class="td-sites-uppanel__rightbtn-plus"
                                         style="display:block; width:15px;"
                                         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                        <g>
                                            <polygon style="fill:#fff;"
                                                     points="26.79 13 17 13 17 3.21 13 3.21 13 13 3.21 13 3.21 17 13 17 13 26.79 17 26.79 17 17 26.79 17 26.79 13"></polygon>
                                        </g>
                                    </svg>
                                </td>
                                <td>
                                    <div class="td-sites-uppanel__rightbtn-title">Создать рассылку</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="td-sites-grid ui-sortable" id="projectssortable">

    {% if latest_test_list %}

            {% for test in latest_test_list %}
                {% include "polls/test_block.html" %}
            {% endfor %}

            <div class="td-sites-grid__cell ui-sortable-handle">
                <div class="td-sites-grid__item td-sites-grid__item_null">&nbsp;</div>
            </div>

    {% else %}
{#        <p>Нет доступных форм.</p>#}
        <div class="td-sites-grid__cell ui-sortable-handle">
            <div class="td-sites-grid__item td-sites-grid__item_null">&nbsp;</div>
        </div>
    {% endif %}

    </div>

{% endblock %}